* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Reggae One';
    font-style: normal;
    src: url("assets/fonts/ReggaeOne/ReggaeOne-Regular.ttf");
}

:root {
    --primary: #ee4343;
    --secondary: #a30c0c;
    --tertiary: #f04c4c;
    --light: #faf8f8;
    --dark: #292121;
    --grey: #7d6c6c;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    line-height: 1.4;
    color: var(--dark);
    background-color: var(--light);
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f5f5f5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

header .container {
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    transition: all .4s ease;
}

header .container .logo:hover {
    transform: scale(1.1);
}

header .container .logo a {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
}

.logo a span {
    font-size: 2.3rem;
    font-family: 'Reggae One', system-ui;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin-left: 4rem;
    transition: all .4s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    background-color: var(--primary);
    transition: all .4s linear;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark);
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    color: var(--primary);
}

#hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
}

#hamburger input {
    position: absolute;
    width: 3rem;
    height: 2rem;
    top: -2px;
    left: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

#hamburger span {
    display: block;
    width: 2rem;
    height: .25rem;
    background-color: var(--dark);
    transition: all .5s ease;
}

#hamburger span:nth-child(2) {
    transform-origin: 0 0;
}

#hamburger span:last-child {
    transform-origin: 0 100%;
}

#hamburger input:checked~span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger input:checked~span:nth-child(3) {
    transform: scale(0);
}

#hamburger input:checked~span:last-child {
    transform: rotate(-45deg) translate(-1px, 0);
}

/* RESPONSIVE BREAKPOINTS */

/* lg */
@media (max-width: 992px) {
    html {
        font-size: 88%;
    }
}

/* md */
@media (max-width: 798px) {
    nav ul {
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 66%;
        height: 77vh;
        top: 0;
        right: 0;
        background-color: #f5f5f5;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: all .5s linear;
    }

    nav ul.active {
        transform: translateX(0);
    }

    nav ul li {
        margin-left: 2rem;
    }

    #hamburger {
        display: flex;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 62.5%;
    }
}